<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MacGroup@Member.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A19965F41D55E22100AD384C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A199660A1D55E22200AD384C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A19966151D55E22200AD384C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
