<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chs</key>
		<string>[鼓掌]</string>
		<key>cht</key>
		<string>[鼓掌]</string>
		<key>gif</key>
		<string>guzhang1.gif</string>
		<key>png</key>
		<string>guzhang.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[点赞]</string>
		<key>cht</key>
		<string>[点赞]</string>
		<key>gif</key>
		<string>dianzan1.gif</string>
		<key>png</key>
		<string>dianzan.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[OK]</string>
		<key>cht</key>
		<string>[OK]</string>
		<key>gif</key>
		<string>ok1.gif</string>
		<key>png</key>
		<string>ok.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[呲牙]</string>
		<key>cht</key>
		<string>[呲牙]</string>
		<key>gif</key>
		<string>ciya1.gif</string>
		<key>png</key>
		<string>ciya.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[微笑]</string>
		<key>cht</key>
		<string>[微笑]</string>
		<key>gif</key>
		<string>weixiao1.gif</string>
		<key>png</key>
		<string>weixiao.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[色]</string>
		<key>cht</key>
		<string>[色]</string>
		<key>gif</key>
		<string>se1.gif</string>
		<key>png</key>
		<string>se.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[傲慢]</string>
		<key>cht</key>
		<string>[傲慢]</string>
		<key>gif</key>
		<string>aoman1.gif</string>
		<key>png</key>
		<string>aoman.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[偷笑]</string>
		<key>cht</key>
		<string>[偷笑]</string>
		<key>gif</key>
		<string>touxiao1.gif</string>
		<key>png</key>
		<string>touxiao.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[憨笑]</string>
		<key>cht</key>
		<string>[憨笑]</string>
		<key>gif</key>
		<string>hanxiao1.gif</string>
		<key>png</key>
		<string>hanxiao.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>jingya1.gif</string>
		<key>png</key>
		<string>jingya.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[流泪]</string>
		<key>cht</key>
		<string>[流泪]</string>
		<key>gif</key>
		<string>liulei1.gif</string>
		<key>png</key>
		<string>liulei.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[飞吻]</string>
		<key>cht</key>
		<string>[飞吻]</string>
		<key>gif</key>
		<string>feiwen1.gif</string>
		<key>png</key>
		<string>feiwen.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[可怜]</string>
		<key>cht</key>
		<string>[可怜]</string>
		<key>gif</key>
		<string>kelian1.gif</string>
		<key>png</key>
		<string>kelian.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[抠鼻]</string>
		<key>cht</key>
		<string>[抠鼻]</string>
		<key>gif</key>
		<string>koubi1.gif</string>
		<key>png</key>
		<string>koubi.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[金钱]</string>
		<key>cht</key>
		<string>[金钱]</string>
		<key>gif</key>
		<string>jinqian1.gif</string>
		<key>png</key>
		<string>jinqian.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[委屈]</string>
		<key>cht</key>
		<string>[委屈]</string>
		<key>gif</key>
		<string>weiqu1.gif</string>
		<key>png</key>
		<string>weiqu.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[害羞]</string>
		<key>cht</key>
		<string>[害羞]</string>
		<key>gif</key>
		<string>haixiu1.gif</string>
		<key>png</key>
		<string>haixiu.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[晕]</string>
		<key>cht</key>
		<string>[晕]</string>
		<key>gif</key>
		<string>yun1.gif</string>
		<key>png</key>
		<string>yun.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[抓狂]</string>
		<key>cht</key>
		<string>[抓狂]</string>
		<key>gif</key>
		<string>zhuakuang1.gif</string>
		<key>png</key>
		<string>zhuakuang.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[发怒]</string>
		<key>cht</key>
		<string>[发怒]</string>
		<key>gif</key>
		<string>fanu1.gif</string>
		<key>png</key>
		<string>fanu.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[大骂]</string>
		<key>cht</key>
		<string>[大骂]</string>
		<key>gif</key>
		<string>dama1.gif</string>
		<key>png</key>
		<string>dama.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[汗]</string>
		<key>cht</key>
		<string>[汗]</string>
		<key>gif</key>
		<string>han1.gif</string>
		<key>png</key>
		<string>han.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[汗颜]</string>
		<key>cht</key>
		<string>[汗颜]</string>
		<key>gif</key>
		<string>hanyan1.gif</string>
		<key>png</key>
		<string>hanyan.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[握手]</string>
		<key>cht</key>
		<string>[握手]</string>
		<key>gif</key>
		<string>woshou1.gif</string>
		<key>png</key>
		<string>woshou.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[胜利]</string>
		<key>cht</key>
		<string>[胜利]</string>
		<key>gif</key>
		<string>shengli1.gif</string>
		<key>png</key>
		<string>shengli.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[心动]</string>
		<key>cht</key>
		<string>[心动]</string>
		<key>gif</key>
		<string>xindong1.gif</string>
		<key>png</key>
		<string>xindong.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[心碎]</string>
		<key>cht</key>
		<string>[心碎]</string>
		<key>gif</key>
		<string>xinsui1.gif</string>
		<key>png</key>
		<string>xinsui.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[抽烟]</string>
		<key>cht</key>
		<string>[抽烟]</string>
		<key>gif</key>
		<string>chouyan1.gif</string>
		<key>png</key>
		<string>chouyan.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[哈欠]</string>
		<key>cht</key>
		<string>[哈欠]</string>
		<key>gif</key>
		<string>haqian1.gif</string>
		<key>png</key>
		<string>haqian.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[困]</string>
		<key>cht</key>
		<string>[困]</string>
		<key>gif</key>
		<string>kun1.gif</string>
		<key>png</key>
		<string>kun.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[睡觉]</string>
		<key>cht</key>
		<string>[睡觉]</string>
		<key>gif</key>
		<string>shuijiao1.gif</string>
		<key>png</key>
		<string>shuijiao.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[贱笑]</string>
		<key>cht</key>
		<string>[贱笑]</string>
		<key>gif</key>
		<string>jianxiao1.gif</string>
		<key>png</key>
		<string>jianxiao.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[大笑]</string>
		<key>cht</key>
		<string>[大笑]</string>
		<key>gif</key>
		<string>daxiao1.gif</string>
		<key>png</key>
		<string>daxiao.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[被打]</string>
		<key>cht</key>
		<string>[被打]</string>
		<key>gif</key>
		<string>beida1.gif</string>
		<key>png</key>
		<string>beida.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[快哭]</string>
		<key>cht</key>
		<string>[快哭]</string>
		<key>gif</key>
		<string>kuaiku1.gif</string>
		<key>png</key>
		<string>kuaiku.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[哭闹]</string>
		<key>cht</key>
		<string>[哭闹]</string>
		<key>gif</key>
		<string>kunao1.gif</string>
		<key>png</key>
		<string>kunao.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[阴险]</string>
		<key>cht</key>
		<string>[阴险]</string>
		<key>gif</key>
		<string>yinxian1.gif</string>
		<key>png</key>
		<string>yinxian.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[卧槽]</string>
		<key>cht</key>
		<string>[卧槽]</string>
		<key>gif</key>
		<string>yiwen1.gif</string>
		<key>png</key>
		<string>yiwen.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[左哼]</string>
		<key>cht</key>
		<string>[左哼]</string>
		<key>gif</key>
		<string>zuoheng1.gif</string>
		<key>png</key>
		<string>zuoheng.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[右哼]</string>
		<key>cht</key>
		<string>[右哼]</string>
		<key>gif</key>
		<string>youheng1.gif</string>
		<key>png</key>
		<string>youheng.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[拽]</string>
		<key>cht</key>
		<string>[拽]</string>
		<key>gif</key>
		<string>zhuai1.gif</string>
		<key>png</key>
		<string>zhuai.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[发呆]</string>
		<key>cht</key>
		<string>[发呆]</string>
		<key>gif</key>
		<string>fadai1.gif</string>
		<key>png</key>
		<string>fadai.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[衰]</string>
		<key>cht</key>
		<string>[衰]</string>
		<key>gif</key>
		<string>shuai1.gif</string>
		<key>png</key>
		<string>shuai.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[吐]</string>
		<key>cht</key>
		<string>[吐]</string>
		<key>gif</key>
		<string>tu1.gif</string>
		<key>png</key>
		<string>tu.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[眨眼]</string>
		<key>cht</key>
		<string>[眨眼]</string>
		<key>gif</key>
		<string>zhayan1.gif</string>
		<key>png</key>
		<string>zhayan.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[踩]</string>
		<key>cht</key>
		<string>[踩]</string>
		<key>gif</key>
		<string>cai1.gif</string>
		<key>png</key>
		<string>cai.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[生病]</string>
		<key>cht</key>
		<string>[生病]</string>
		<key>gif</key>
		<string>shengbing1.gif</string>
		<key>png</key>
		<string>shengbing.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[恐惧]</string>
		<key>cht</key>
		<string>[恐惧]</string>
		<key>gif</key>
		<string>kongju1.gif</string>
		<key>png</key>
		<string>kongju.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[太阳]</string>
		<key>cht</key>
		<string>[太阳]</string>
		<key>gif</key>
		<string>taiyang1.gif</string>
		<key>png</key>
		<string>taiyang.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[月亮]</string>
		<key>cht</key>
		<string>[月亮]</string>
		<key>gif</key>
		<string>yueliang1.gif</string>
		<key>png</key>
		<string>yueliang.png</string>
		<key>type</key>
		<string>0</string>
	</dict>
</array>
</plist>
